# Ignore Composer Files
/vendor/
/composer.lock

# Ignore JOE files
*~
DEADJOE

# Ignore bower installed files
/media/js/lib/

# Ignore cached files
/cache/
/data/

# Ignore logs and test files
/logs/
/public/test.php
