.container-fluid
  .row
    .col-md-8
      %img{:src => "/media/img/turntable-306254_640.png"}
    .col-md-4
      - foreach($services as $service)
        %ul.list-group
          %li.list-group-item
            - $redirect_uri = $request->getUri() . 'oauth2/callback/' . $service->name
            %a{:href => $service->get_connect_url() }
              %img{:src => $service->connectbutton->getUrl()}
