%script{:src => "/media/js/lib/blueimp-load-image/js/load-image.min.js"}
%script{:src => "/media/js/lib/blueimp-canvas-to-blob/js/canvas-to-blob.min.js"}

:javascript
	var upload_url = '#{$upload_url}';

.container-fluid
	#canvas-form
		
		%input#image_id{:type => "hidden"}
		
		#canvas
			%img{:src => $image->id ? $image->getUrl() : "/media/img/rubiks-cube-152372_640.png"}
		
		.form-group
			%input#canvas-input{:type => "file"}/
		
		.form-group
			%button Save

%script{:src => "/media/js/images.js"}
