{% extends 'base.html' %}
{% block content %}
  {% load filetransfers %}
  <table cellpadding=1 cellspacing=0 width="100%">
  <tr style="vertical-align:top">
    <td>
      <!-- <form action="/dj/me" method="post"> -->
      <form action="{{ upload_url }}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% render_upload_data upload_data %}
        <table id="dj-name">
          <tr>
            <td colspan=2>
            {% if image %}
              <div id="dj-picture" style="width:{{ image.width }}px">
                <img src="/dj/picture/{{ dj.id }}" height="{{ image.height }}" width="{{ image.width }}">
              </div>
            {% else %}
              <div id="dj-picture">
                <img src="http://graph.facebook.com/{{ profile.username }}/picture?type=large">
                <h3>Please upload a picture</h3>
            {% endif %}
            </td>
          </tr>
          {{ form.as_table }}
          <tr>
            <td><input type="submit" value="Save" /></td>
          </tr>
        </table>
      </form>
    </td>
    <td style="width:100%">
      <div id="dj-services">
        <h1>Services</h1>
        {% if services.facebook %}
          <table>
          <thead>
            <tr>
              <th>Enabled</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
          {% for connection in connections %}
            <tr>
              <td><input type="checkbox" {% if connection.enabled %}CHECKED{% endif %}/></td>
              <td>{{connection.name}}</td>
            </tr>
          {% endfor %}
          </tbody>
          </table>
        {% else %}
          <a href="/oauth2/facebook">
            <img src="/media/facebook-connect.png" height="47" width="280">
          </a>
          <div>Automatically post your radio shows to Facebook.</div>
        {% endif %}
      </div>
    </td>
  </tr>
  </table>
  <script>
  $(document).ready(function() {
    $('#dj-name input[name=name]').focus();
  })
  </script>
{% endblock %}
