{% extends 'base.html' %}
{% block content %}

{% load filetransfers %}
{% load bootstrap %}

<script src="/media/js/ext/blueimp-load-image/js/load-image.min.js"></script>
<script src="/media/js/ext/blueimp-canvas-to-blob/js/canvas-to-blob.min.js"></script>
<script src="/media/js/dj.js"></script>

<form role="form" onsubmit="return false;">
        <div id="dj-picture" class="form-group">
                {% if image %}
                        <img src="/pictures/{{ dj.picture }}" height="{{ image.height }}" width="{{ image.width }}" class="img-rounded">
                {% else %}
                        <img src="/media/person-placeholder-male-400x300.jpg" height="300" width="400" class="img-rounded">
                {% endif %}
                <!-- <h3>Please upload a picture</h3> -->
        </div>
        <div class="form-group">
                <label for="dj-picture-input">File input</label>
                <input type="file" id="dj-picture-input">
        </div>
</form>

<form role="form" action="{{ upload_url }}" method="POST" enctype="multipart/form-data" id="dj">
        {% csrf_token %}
        {{ form|bootstrap }}
        <div class="form-group">
                <button type="submit" class="btn btn-default">Submit</button>
        </div>
</form>

<script>
$(document).ready(function() {
        $('#dj-name input[name=name]').focus();
});
</script>

{% endblock %}
