{% extends 'base.html' %}
{% block content %}
  <script src="/media/js/show.js"></script>
  <script>
  var radios = {{ radios|safe }};
  </script>
  <div style="margin:10px;padding:10px">
    <form action="/shows/save/{{ show.id }}" method="post">
      {% csrf_token %}
      <div id="add-show">
        {{ form.non_field_errors }}
        <div class="url">
          {{ form.url.errors }}
          <label for="id_url">URL:</label>
          {{ form.url }}
        </div>
        <div class="title">
          {{ form.title.errors }}
          <label for="id_url">Title:</label>
          {{ form.title }}
        </div>
        <div class="description">
          {{ form.description.errors }}
          <label for="id_description">Description:</label>
          <br/>
          {{ form.description }}
        </div>
        <input type="submit" value="Add Show" />
      </div>
    </form>
  </div>
{% endblock %}
