{% extends 'base.html' %}
{% block content %}
  <div style="margin:10px;padding:10px">
    <form action="/shows/add" method="post">
      {% csrf_token %}
      <div id="add-show">
        {{ form.non_field_errors }}
        <div class="url">
          {{ form.url.errors }}
          <label for="id_url">URL:</label>
          {{ form.url }}
        </div>
        <div class="date">
          {{ form.date.errors }}
          <label for="id_date">Date:</label>
          {{ form.date }}
        </div>
        <div class="duration">
          {{ form.duration.errors }}
          <label for="id_duration">Duration:</label>
          <select id="id_duration" nam="duration">
	    <option value="1:00">1 hour</option>
	    <option value="1:30">1 1/2 hours</option>
	    <option value="2:00" selected>2 hours</option>
	    <option value="2:00">3 hours</option>
	  </select>
        </div>
        <div class="description">
          {{ form.description.errors }}
          <label for="id_description">Description:</label>
          <br/>
          <textarea id="id_description" rows="10" cols="40" name="description"></textarea>
        </div>
        <input type="submit" value="Add Show" />
      </div>
    </form>
  </div>
{% endblock %}

