{% extends 'base.html' %}

{% block opengraph %}
    <meta property="og:title" content="{{ show.title }}"/>
    <meta property="og:type" content="song"/>
    <meta property="og:url" content="{{ hosturl }}/shows/{{ show.id }}"/>
    <meta property="og:image" content="{{ hosturl }}/dj/picture/{{ show.dj.id }}"/>
    <meta property="og:site_name" content="DeeJay Pages"/>
    <meta property="og:description" content="{{ show.description|escape }}"/>
    <meta property="og:video" content="{{ hosturl }}/shows/player/{{ show.id }}"/>
{% endblock %}

{% block content %}
<h1>{{ show.title }}</h1>
<img src="/dj/picture/{{ show.dj.id }}"/>
<p>
  {{ show.description|escape }}
</p>

<p style="border: solid 2px #DDD; border-radius: 1px; background-color: #DDD; width: 320px; padding: 5px; text-align: center; vertical-align: middle">
  <embed src="{{ hosturl }}/shows/player/{{ show.id }}" 
          scale="scale"
          width=300
          height=150
          wmode="window"
          bgcolor="#dddddd"
          allowscriptaccess="never"
          type="application/x-shockwave-flash" />
</p>
{% endblock %}

