{% extends 'base.html' %}

{% block opengraph %}
    <meta property="og:title" content="Madjester on Renegade Radio"/>
    <meta property="og:type" content="song"/>
    <meta property="og:url" content="{{ hosturl }}/shows/{{ show.id }}"/>
    <meta property="og:image" content="{{ hosturl }}/shows/images/{{ show.id }}/cover.jpg"/>
    <meta property="og:site_name" content="DeeJay Pages"/>
    <!-- <meta property="fb:admins" content="USER_ID"/> -->
    <!-- <meta property="fb:app_id" content="APP_ID"/> -->
    <meta property="og:description" content="{{ show.description|escape }}"/>
    <meta property="og:video" content="{{ hosturl }}/media/ffmp3-tiny.swf?url={{ show.url }}&{{ flashvars|safe }}"/>
{% endblock %}

{% block content %}
<p>
  {{ show.description|escape }}
</p>

<p>
  <embed src="/media/ffmp3-tiny.swf?url={{ show.url }}&{{ flashvars|safe }}" 
         width="130"
         scale="noscale"
         height="60"
         wmode="window"
         bgcolor="#FFFFFF"
         allowscriptaccess="always"
         type="application/x-shockwave-flash" />
</p>
{% endblock %}

