{% extends 'base.html' %}

{% block opengraph %}
    <meta property="og:title" content="Madjester on Renegade Radio"/>
    <meta property="og:type" content="song"/>
    <meta property="og:url" content="{{ hosturl }}/shows/{{ show.id }}"/>
    <meta property="og:image" content="{{ hosturl }}/shows/images/{{ show.id }}/cover.jpg"/>
    <meta property="og:site_name" content="DeeJay Pages"/>
    <meta property="og:description" content="{{ show.description|escape }}"/>
    <meta property="og:video" content="{{ hosturl }}/shows/player/{{ show.id }}"/>
{% endblock %}

{% block content %}
<p>
  {{ show.description|escape }}
</p>

<p>
  <embed src="{{ hosturl }}/shows/player/{{ show.id }}" 
          scale="scale"
          width=300
          height=150
          wmode="window"
          bgcolor="#DDD"
          allowscriptaccess="never"
          type="application/x-shockwave-flash" />
</p>
{% endblock %}

