<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <title>{% block title %}DeeJay Pages: DJ Social Media Promotion Tool{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="/media/main.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/themes/ui-lightness/jquery-ui.css" type="text/css" media="all" />
    {% block opengraph %}{% endblock %}
  </head>
  <body>
  {% if loggedin %}
    <div id="dashboard">
      <a title="profile" href="/dj/me">{{ nickname }}</a> |
      <a href="/shows/">new show</a> |
      <a href="/shows/history">history</a>
      [<a href="{{ logout }}">sign out</a>]
    </div>
  {% endif %}
  <div id="content">
    {% block content %}{% endblock %}
  </div>
  </body>
</html>

