<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <title>DJ Shouts: get your music heard!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link href="/media/js/ext/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="/media/style.css" rel="stylesheet">
        <!-- <link type="text/css" rel="stylesheet" href="/media/main.css" /> -->
        <link rel="stylesheet" href="/media/js/ext/jquery-ui/themes/ui-lightness/jquery-ui.min.css" type="text/css" media="all" />

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="/media/js/ext/html5shiv-dist/html5shiv.js"></script>
        <![endif]-->
        <!-- Fav and touch icons -->
        <!--
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/media/js/ext/bootstrap/img/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="img/favicon.png">
        -->
        <script src="/media/js/ext/jquery/dist/jquery.min.js"></script>
        <script src="/media/js/ext/jquery-ui/ui/minified/jquery-ui.min.js"></script>

        {% block opengraph %}{% endblock %}
</head>

<body>
<div class="container">
        <div class="row clearfix">
                <div class="col-md-12 column">
                        <div class="page-header">
                                <h1>
                                        DJ Shouts <span>- Getting your music heard!</span>
                                </h1>
                        </div>

                        {% block navbar %}
                        <nav class="navbar navbar-default" role="navigation">
                                <div class="container-fluid">
                                {% if loggedin %}
                                <div class="navbar-header">
                                        <a class="navbar-brand" href="#">Brand</a>
                                </div>
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                        <ul class="nav navbar-nav">
                                                <li {% if is_profile_page %}class="active"{% endif %}>
                                                        <a href="/dj/me">Profile</a>
                                                </li>
                                                <li {% if is_history_page %}class="active"{% endif %}>
                                                        <a href="/shows/history">Shows</a>
                                                </li>
                                                <li {% if is_show_page %}class="active"{% endif %}>
                                                        <a href="/shows/">New Show</a>
                                                </li>
                                        </ul>
                                </div>
                                {% endif %}
                        </nav>
                        {% endblock %}

                        {% block content %}{% endblock %}
                </div>
        </div>
</div>
</body>
</html>
